//global system clock
NET "sys_clk" 		LOC = A10 	| IOSTANDARD = LVTTL;
//reset signal
NET "sys_rst_n" 	LOC = R7 	| IOSTANDARD = LVTTL;
//led_1 signal
NET "led_1" 		LOC = T9 	| IOSTANDARD = LVTTL;
#//led_2 signal
NET "led_2" 		LOC = R9 	| IOSTANDARD = LVTTL;

NET "E" 		LOC = R15 	| IOSTANDARD = LVTTL;
NET "RW" 		LOC = R14 	| IOSTANDARD = LVTTL;
NET "A0" 		LOC = T13 	| IOSTANDARD = LVTTL;
NET "DB0" 		LOC = P15 	| IOSTANDARD = LVTTL;
NET "DB1" 		LOC = L12 	| IOSTANDARD = LVTTL;
NET "DB2" 		LOC = M13 	| IOSTANDARD = LVTTL;
NET "DB3" 		LOC = N14 	| IOSTANDARD = LVTTL;
NET "DB4" 		LOC = R16 	| IOSTANDARD = LVTTL;
NET "DB5" 		LOC = T15 	| IOSTANDARD = LVTTL;
NET "DB6" 		LOC = T14 	| IOSTANDARD = LVTTL;
NET "DB7" 		LOC = R12 	| IOSTANDARD = LVTTL;
//NET "Ucc" 		LOC = R12 	| IOSTANDARD = LVTTL;
//NET "GNDmelt" 		LOC = P11 	| IOSTANDARD = LVTTL;